
body{
    display: flex;
    justify-content: center;
}

.container{
    max-width: 300px;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

input{
    display: block;
    width: 80%; 
    padding: 5px;
    border-radius: 2px;
    margin-bottom: 10px;
}

button{
    width: 50%;
}
