body{
    margin:0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #555;
}

.topbar{
    background-color:#333;
    color:white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    border-bottom: solid #fd8a24;
}

header{
    max-width:888px;
    margin: auto;
    padding: 30px;
}

.titulo{
    font-size: 56px;
    line-height: 64px;
    color:#111;
}

.subTitulo{
    font-weight: 400px;
    font-size: 20px;
    color:#111;
}

.autor{
    font-weight: bold;
    font-size: 0.8em;
}

.social-icons{
    margin-top: 10px;
}

.social-icon{
    width: 20px;
    padding: 10px 10px 10px 0;

}

a{
    text-decoration: none;
    color:#fd8a24;
    font-weight: 700;
}

main{
    max-width: 648px;
    margin: auto;
}

p{
    font-size: 20px;
    line-height: 32px;
}

.cta{
    font-size: 20px;
    margin: 30px 0;
}

figure{
    padding: 0;
    margin: 40px 0;
}

figure>img{
    width: 100%;
}

