*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    background-color: black;
}

.container{
    width: 80%;
    max-width: 1000px;
}

header{
    background-color: #48c5ce;
    color: white;
    text-align: center;
    padding: 10px;
}

.title{
    font-size: 26px;
    align-items: center;
}

section{
    padding: 15px;
    background-image: url('./images/people.jpg');
    background-size: cover;
    overflow: hidden;
}

.container_form{
    background-color: #ffffffbb;
    max-width: 230px;
    float: right;
    padding: 20px;
}

h2{
    font-size:16px;
}

p{
    font-size:15px;
}

.mb{
    margin-bottom: 15px;
}

input, select{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border:none;
    margin-bottom: 10px;
}

input[type="submit"]{
    color: white;
    background-color: #48c5ce;
    font-weight: bold;
}

select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('images/arrow.jpg');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}

footer{
    background-color: #202121;
    padding: 40px;
    text-align: center;
}

.picture{
    width: 160px;
}

.description{
    color: white;
    max-width: 40%;
    margin-left: 40px;
    display: inline-block;
    text-align: left;
}

.description h3, .description p{
    margin-bottom: 20px;
}
